@model EasyLeasesDB.Models.Homeowners

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Homeowners</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRepresented)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRepresented)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeownerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeownerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeownerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeownerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeownerPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeownerPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeownerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeownerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeownerCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeownerCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeownerState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeownerState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeownerZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeownerZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeownerUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeownerUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeownerPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeownerPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkRealtors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkRealtors.RealtorsId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HomeownersId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
